@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Courier Prime', monospace; 
}







input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}






/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eae7e7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d2;
}
#displayRoot{
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
#displayRoot button{
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 2px 8px;
  border-radius: 6px;
  margin:1px;
  flex: 1;
}
#displayRoot input{
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 2px 8px;
  border-radius: 6px;
  margin:2px;
  min-width: none;
  flex: 1;
}
#displayRoot div{
  display: flex;
  flex-direction: row;
}








input[type="color"]{
    border-radius: 100px;
    height: 20px;
    width: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100px;
}